

body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    font-weight: 300;
  }

/* HERO SECTION */

#hero{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(255,124,51,0.2),rgba(255,124,51,0.2));
    position:relative;
    display: flex;
    justify-content: center;
    align-items: start;
}

#hero-video {
   position:absolute;
   right:0;
   top:0;
   z-index: -1;
   object-fit: cover;
   width:100%;
   height: 600px;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.hero-content h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-top: 2.5rem;
    margin-bottom:0;
    text-shadow:
       0 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.hero-content h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0;
    text-shadow:
       0 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#hero-character-container{
    width:100%;
    max-width: 1088px;
    position: relative;
    /* Setting height to height of img as it adds a gap below img */
    height:275px;
}

#character-msg{
    padding:1rem;
    background-color: white;
    max-width: 320px;
    border-radius: 0.5rem;
    position: absolute;
    left: 200px;
}

#character-msg p{
    margin:0;
    font-size: 1.25rem;
}

@media only screen and (max-width: 600px) {
    #character-msg{
        left: 24px;
        top: -40px;
        margin-right: 24px;;
    }
}

@media only screen and (max-width: 380px) {
    #character-msg{
        top: -72px;
    }
}  

/* OVERVIEW SECTION */

#overview{
    position: relative;
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px;
    gap: 120px;
}

.overview-content{
    width:100%;
    max-width: 1088px;
    display: flex;
    gap: 1.5rem;
}

@media only screen and (max-width: 850px) {
    .overview-content{
        flex-direction: column-reverse;
    }

    .overview-content:nth-child(even){
        flex-direction: column;
    }
}

.overivew-container{
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media only screen and (max-width: 850px) {
    .overivew-container{
        width:100%
    }
}

#overview-map{
    border-radius: 1.5rem;
    aspect-ratio: 4 / 3;
}

.overivew-container .overview-img{
    width:100%;
    border-radius: 1rem;;
}

.overview-msg{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
}

.msg-grey{
    background-color: #F4F4F4;
}

.msg-orange{
    background-color: #FCF3ED;
}

.overview-msg img{
    width: 44px;
    border-radius: 0.5rem;
}

.overview-msg p{
    margin: 0;
}

